li {
    display: inline;
}
.lobster2 {
  text-align: center;
  font-size: 70px;
  font-family: 'Lobster Two', cursive;
}

.poiret1 {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}

.josefinslab {
  font-size: 25px;
  font-family: 'Josefin Slab', serif;
}

.linktitle {
  color: #222428;
  background-color: white;
  text-decoration: none;
    padding: 14px 16px;
}

a:hover {
  color: black;
}

a {
  color: black;
}
</style>

p.menusomething {
  margin-left: 20px;
  margin-right: 20px;
}
.hovercool {
  padding-left:90px;
}
.hoveryo {
  display: inline-block;
padding-left:50px;
padding-right: 50px;


}

.mycarousel {
width: 800px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

img.myslide {
  width: 800px;
  height: auto;
}
